.hero__top_about {
  max-width: 1020px;
  width: 100%;
}
.department__items_about {
  grid-template-columns: repeat(2, minmax(auto, 568px));
}
.department__item_about {
  padding: 48px;
}
@media (max-width: 1280px) {
  .hero__top-text_about {
    max-width: 890px;
  }
}
@media (max-width: 1023px) {
  .hero__top-text_about {
    max-width: 695px;
  }
}
@media (max-width: 640px) {
  .hero__top-text_about {
    max-width: 332px;
  }
}

.department__item_about a {
  color: #303030;
}

@media (max-width: 1279px) {
  .department__item_about {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .department__items_about {
    grid-template-columns: 1fr;
  }
  .department__item_about {
    padding: 48px;
  }
}
@media (max-width: 767px) {
  .department__item_about {
    padding: 24px;
  }
  .department__item_about a {
    color: #4584ce;
  }
}
.department__item_about p {
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1023px) {
  .department__item_about p {
    font-size: 18px;
    line-height: 28.8px;
  }
}
/*------------------------------------------------career---------------------------------------------------------------*/
.career {
  width: 100%;
}
.career__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .career__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .career__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .career__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.career__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .career__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.career__inner {
  display: flex;
  background: #f0efed;
  margin-top: 61px;
  border-radius: 44px;
}
@media (max-width: 1280px) {
  .career__inner {
    margin-top: 36px;
  }
}
@media (max-width: 1023px) {
  .career__inner {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .career__inner {
    flex-direction: column;
    margin-top: 36px;
  }
}
.career__text {
  max-width: 690px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
}
.career__text p {
  font-size: 18px;
  line-height: 29.7px;
}
@media (max-width: 1280px) {
  .career__text p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 1024px) {
  .career__text {
    max-width: 380px;
  }
  .career__text p {
    display: none;
  }
}
@media (max-width: 767px) {
  .career__text {
    padding: 24px;
  }
}
.career__text h3 {
  margin-top: 32px;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  .career__text h3 {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
@media (max-width: 1023px) {
  .career__text h3 {
    margin-top: 0;
  }
}
/*------------------------------------------------------qualification-----------------------------------------------------------*/
.qualification {
  width: 100%;
}
.qualification__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .qualification__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .qualification__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .qualification__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.qualification__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .qualification__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.qualification__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 373.33px));
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 16px;
}
.qualification__item {
  width: 100%;
  border-radius: 44px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  box-sizing: border-box;
  background: #f0efed;
  gap: 78px;
}
.qualification__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.qualification__text p {
  font-size: 18px;
  line-height: 29px;
}
.qualification__author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}
.qualification__author p {
  font-size: 18px;
  line-height: 29px;
}
.qualification__author img {
  width: 80px;
  height: 80px;
}
@media (max-width: 1280px) {
  .qualification__items {
    grid-template-columns: repeat(3, minmax(auto, 330.67px));
    margin-top: 40px;
  }
  .qualification__item h5 {
    font-size: 22px;
    line-height: 36.3px;
  }
  .difference__text {
    margin-top: 8px;
    margin-bottom: 51px;
  }
}
@media (max-width: 1024px) {
  .qualification__item {
    padding: 24px;
  }
}
@media (max-width: 768px) {
  .qualification__items {
    grid-template-columns: repeat(2, minmax(auto, 344px));
    margin-top: 30px;
  }
  .qualification__item {
    border-radius: 32px;
    gap: 16px;
    padding: 32px;
  }
  .qualification__item h5 {
    font-size: 18px;
    line-height: 30px;
  }
  .qualification__author img {
    width: 64px;
    height: 64px;
  }
  .qualification__text p {
    display: none;
  }
  .qualification__author p {
    font-size: 16px;
    line-height: 25.6px;
  }
  .difference__text_about {
    max-width: 660px;
    margin-bottom: 34px;
  }
}
@media (max-width: 767px) {
  .qualification__items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }
  .qualification__item {
    padding: 24px;
    gap: 8px;
  }
  .qualification__author {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 27px;
  }
  .qualification__item h5 {
    font-size: 18px;
    line-height: 29px;
  }
  .qualification__author p {
    font-size: 15px;
    line-height: 24px;
  }
  .main-link_about {
    padding: 24px 32px;
  }
  .difference__text_about {
    margin-bottom: 29px;
  }
  .difference__wrapper_about {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
