.base-item {
  width: 100%;
}
@media (max-width: 641px) and (min-width: 640px) {
  .header__wrapper_base {
    padding-top: 31px;
  }
}
.base-item__wrapper {
  padding-top: 28px;
  padding-bottom: 64px;
  padding-left: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 1280px) {
  .base-item__wrapper h1 {
    font-size: 72px;
    line-height: 77.04px;
  }
  .base-item__wrapper {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .base-item__wrapper h1 {
    font-size: 56px;
    line-height: 59.92px;
  }
  .base-item__wrapper {
    padding-top: 32px;
    padding-bottom: 40px;
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .base-item__wrapper h1 {
    font-size: 34px;
    line-height: 36.38px;
  }
  .base-item__wrapper {
    padding-left: 24px;
    gap: 16px;
  }
}
.base-item__container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .base-item__container {
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .base-item__container {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .base-item__container {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .base-item__container {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
.base-item__description {
  max-width: 864px;
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1024px) {
  .base-item__description {
    font-size: 18px;
    line-height: 28.8px;
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .base-item__description {
    max-width: 640px;
  }
}
@media (max-width: 767px) {
  .base-item__description {
    max-width: 576px;
  }
}
@media (max-width: 480px) {
  .base-item__description {
    max-width: 416px;
  }
}
@media (max-width: 420px) {
  .base-item__description {
    max-width: 311px;
  }
}
.base-item__button {
  width: 221px;
  height: 88px;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: #30303012;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  color: #303030;
}
.base-item__button img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1023px) {
  .base-item__button {
    width: 197px;
    height: 64px;
    border-radius: 32px;
  }
  .base-item__button img {
    width: 16px;
    height: 16px;
  }
}
/*---------------------------------------------------base-this--------------------------------------------------------*/
.base-this {
  width: 100%;
}
.base-this__container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .base-this__container {
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .base-this__container {
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .base-this__container {
    padding-right: 0;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .base-this__container {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
.base-this__wrapper {
  padding-top: 62px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 1280px) {
  .base-this__wrapper {
    padding-top: 45px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .base-this__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .base-this__wrapper {
    padding-top: 26px;
    padding-bottom: 32px;
  }
}
@media (max-width: 480px) {
  .base-this__wrapper {
    padding-top: 27px;
    padding-bottom: 32px;
  }
}
.base-this__inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 1023px) {
  .base-this__inner {
    overflow: auto;
  }
}
.base-this__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 1023px) {
  .base-this__items {
    width: 900px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 640px) {
  .base-this__items {
    width: 800px;
  }
}
.base-this__item {
  width: 378.67px;
  background: #f0efed;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  border-radius: 20px;
  word-break: break-word;
}
@media (max-width: 1280px) {
  .base-this__item {
    width: 336px;
  }
}
@media (max-width: 1024px) {
  .base-this__item {
    width: 293.33px;
  }
}
@media (max-width: 1023px) {
  .base-this__item {
    width: 294.67px;
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  .base-this__item {
    width: 261.33px;
    font-size: 18px;
    line-height: 29.7px;
  }
}
@media (max-width: 480px) {
  .base-this__item {
    width: 261.33px;
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 420px) {
  .base-this__item {
    width: 261.33px;
  }
}
.base-this__item_left {
  border-radius: 32px 20px 20px 20px;
}
.base-this__item_left-bottom {
  border-radius: 20px 20px 20px 32px;
}
.base-this__item_right {
  border-radius: 20px 32px 20px 20px;
}
.base-this__item_right-bottom {
  border-radius: 20px 20px 32px 20px;
}
/*-----------------------------------------------------tools----------------------------------------------------------*/
.base-tools {
  width: 100%;
}
.base-tools__container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .base-tools__container {
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .base-tools__container {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .base-tools__container {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .base-tools__container {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
.base-tools__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 1280px) {
  .base-tools__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .base-tools__wrapper {
    padding-top: 42px;
    padding-bottom: 40px;
    gap: 24px;
  }
}
@media (max-width: 1023px) {
  .base-tools__wrapper {
    padding-top: 45px;
    padding-left: 24px;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .base-tools__wrapper {
    padding-top: 34px;
    padding-bottom: 32px;
    gap: 24px;
  }
}
@media (max-width: 480px) {
  .base-tools__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 16px;
  }
}
.base-tools__wrapper h3 {
  max-width: 864px;
  width: 100%;
}
@media (max-width: 1280px) {
  .base-tools__wrapper h3 {
    font-size: 32px;
    line-height: 44.16px;
  }
}
@media (max-width: 1024px) {
  .base-tools__wrapper h3 {
    font-size: 24px;
    line-height: 33.12px;
  }
}
@media (max-width: 1023px) {
  .base-tools__wrapper h3 {
    max-width: 656px;
  }
}
@media (max-width: 767px) {
  .base-tools__wrapper h3 {
    font-size: 20px;
    line-height: 27.6px;
  }
}
.base-tools__list {
  max-width: 864px;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-left: 32px;
  gap: 8px;
}
@media (max-width: 1024px) {
  .base-tools__list {
    margin-left: 27px;
  }
}
@media (max-width: 1023px) {
  .base-tools__list {
    max-width: 625px;
  }
}
@media (max-width: 767px) {
  .base-tools__list {
    margin-left: 0;
    gap: 0;
  }
}
@media (max-width: 480px) {
  .base-tools__list {
    max-width: 416px;
  }
}
@media (max-width: 420px) {
  .base-tools__list {
    max-width: 311px;
  }
}
.base-tools__list li {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1024px) {
  .base-tools__list li {
    font-size: 18px;
    line-height: 28.8px;
  }
}
/*----------------------------------------------base-desc------------------------------------------------------------*/
.base-desc {
  width: 100%;
}
.base-desc__conteiner {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .base-desc__conteiner {
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .base-desc__conteiner {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .base-desc__conteiner {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .base-desc__conteiner {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
.base-desc__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 1280px) {
  .base-desc__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .base-desc__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 25px;
  }
}
@media (max-width: 767px) {
  .base-desc__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
    gap: 28px;
  }
}
@media (max-width: 420px) {
  .base-desc__wrapper {
    padding-top: 36px;
  }
}
.base-desc__wrapper p {
  max-width: 864px;
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1024px) {
  .base-desc__wrapper p {
    max-width: 896px;
    font-size: 18px;
    line-height: 28.8px;
  }
}
@media (max-width: 768px) {
  .base-desc__wrapper p {
    max-width: 640px;
  }
}
@media (max-width: 767px) {
  .base-desc__wrapper p {
    max-width: 576px;
  }
}
@media (max-width: 480px) {
  .base-desc__wrapper p {
    max-width: 416px;
  }
}
@media (max-width: 420px) {
  .base-desc__wrapper p {
    max-width: 311px;
  }
}
/*---------------------------------------------------base-example------------------------------------------------------------*/
.base-example {
  width: 100%;
}
.base-example__container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .base-example__container {
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
  }
}
@media (max-width: 1024px) {
  .base-example__container {
    padding-left: 64px;
    padding-right: 64px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .base-example__container {
    padding-left: 32px;
    padding-right: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .base-example__container {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
.base-example__wrapper {
  padding-top: 62px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 1280px) {
  .base-example__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .base-example__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 24px;
  }
}
@media (max-width: 1023px) {
  .base-example__wrapper {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .base-example__wrapper {
    padding-top: 34px;
    padding-bottom: 32px;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .base-example__wrapper {
    gap: 16px;
  }
}
.base-example__wrapper h3 {
  max-width: 906px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .base-example__wrapper h3 {
    font-size: 32px;
    line-height: 44.16px;
  }
}
@media (max-width: 1024px) {
  .base-example__wrapper h3 {
    font-size: 24px;
    line-height: 33.12px;
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .base-example__wrapper h3 {
    font-size: 24px;
    line-height: 33.12px;
    padding-left: 32px;
    max-width: 695px;
  }
}
@media (max-width: 640px) {
  .base-example__wrapper h3 {
    font-size: 20px;
    line-height: 27.6px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.base-example__inner {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 1023px) {
  .base-example__inner {
    overflow: auto;
  }
}
.base-example__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 1023px) {
  .base-example__items {
    width: 900px;
    flex-wrap: nowrap;
  }
}
@media (max-width: 420px) {
  .base-example__items {
    width: 1000px;
  }
}
.base-example__item {
  width: 224px;
  background: #f0efed;
  padding: 16px;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border-radius: 20px;
  word-break: break-word;
}
@media (max-width: 1280px) {
  .base-example__item {
    width: 198.4px;
  }
}
.base-example__item_left {
  border-radius: 32px 20px 20px 20px;
}
.base-example__item_left-bottom {
  border-radius: 20px 20px 20px 32px;
}
.base-example__item_right {
  border-radius: 20px 32px 20px 20px;
}
.base-example__item_right-bottom {
  border-radius: 20px 20px 32px 20px;
}
@media (max-width: 1024px) {
  .base-example__item {
    width: 172.8px;
  }
}
@media (max-width: 1023px) {
  .base-example__item {
    width: 173.6px;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .base-example__item {
    width: 170.4px;
    font-size: 15px;
    line-height: 24px;
  }
}
@media (max-width: 480px) {
  .base-example__item {
    width: 173.6px;
    font-size: 18px;
    line-height: 29.7px;
  }
}
@media (max-width: 420px) {
  .base-example__item {
    width: 193.6px;
  }
}
