.cases {
  width: 100%;
}
.cases__wrapper {
  padding-top: 26px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .cases__wrapper {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .cases__wrapper {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .cases__wrapper {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}
.cases__top {
  max-width: 1060px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .cases__top {
    max-width: 980px;
  }
}
@media (max-width: 767px) {
  .cases__top {
    padding-left: 24px;
    padding-right: 24px;
  }
}
/*------------------------------------------------------projects-------------------------------------------------*/
.projects {
  width: 100%;
}
.projects__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .projects__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .projects__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .projects__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.projects__top {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 930px;
  width: 100%;
}
@media (max-width: 767px) {
  .projects__top {
    flex-wrap: nowrap;
    overflow: auto;
  }
}
.projects__top-item {
  background: #30303012;
  border-radius: 32px;
  padding: 17.5px 24px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  cursor: pointer;
  white-space: nowrap;
}
.projects__items {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 16px;
}
@media (max-width: 1280px) {
  .projects__items {
    margin-top: 40px;
    gap: 18px 16px;
  }
}
@media (max-width: 1023px) {
  .projects__items {
    margin-top: 48px;
    gap: 20px 16px;
  }
}
@media (max-width: 767px) {
  .projects__items {
    margin-top: 32px;
    gap: 8px;
  }
}
.projects__item {
  width: 373.33px;
  background: #f0efed;
  border-radius: 44px;
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 1280px) {
  .projects__item {
    width: 330.67px;
    border-radius: 32px;
    gap: 16px;
  }
}
@media (max-width: 1023px) {
  .projects__item {
    width: 224px;
  }
}
@media (max-width: 767px) {
  .projects__item {
    width: 100%;
    padding: 24px;
    gap: 8px;
  }
}
.projects__author {
  display: flex;
  align-items: center;
  gap: 16px;
}
.projects__author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.projects__author p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
}
.projects__title {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1280px) {
  .projects__title {
    font-size: 16px;
    line-height: 25.6px;
  }
  .projects__author img {
    width: 64px;
    height: 64px;
  }
  .projects__author p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 1023px) {
  .projects__author p {
    display: none;
  }
}
@media (max-width: 767px) {
  .projects__title {
    font-size: 15px;
    line-height: 24px;
  }
  .projects__author p {
    display: block;
    font-size: 15px;
    line-height: 24px;
  }
}
