.certificate {
  width: 100%;
}
.certificate__wrapper {
  padding-top: 28px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .certificate__wrapper {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .certificate__wrapper {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .certificate__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.certificate__top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  max-width: 1005px;
  width: 100%;
}
@media (max-width: 1280px) {
  .certificate__top {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .certificate__top {
    padding-left: 24px;
    padding-right: 24px;
    gap: 16px;
  }
}
.certificate__top h5 {
  font-family: "Bitter", serif;
  font-size: 36px;
  line-height: 52.2px;
}
@media (max-width: 1280px) {
  .certificate__top h5 {
    font-size: 24px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .certificate__top h5 {
    font-size: 20px;
    line-height: 32px;
  }
}
.certificate__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.certificate__item {
  width: 330.67px;
  height: 320px;
  background: #f0efed;
}
/*---------------------------------------------------------certificate-page---------------------------------------------------*/
.certificate-page {
  width: 100%;
}
.certificate-page__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 767px) {
  .certificate-page__items {
    gap: 8px;
  }
}
.certificate-page__item {
  width: 373.33px;
  height: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 44px;
  background: #f0efed;
}
.certificate-page__author {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.certificate-page__author img {
  width: 80px;
  height: 80px;
}
@media (max-width: 1280px) {
  .certificate-page__item {
    width: 330.67px;
    border-radius: 32px;
  }
  .certificate-page__author img {
    width: 64px;
    height: 64px;
  }
  .certificate-page__author {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 16px;
    height: fit-content;
    margin-top: auto;
  }
}
@media (max-width: 1023px) {
  .certificate-page__item {
    width: 224px;
  }
}
@media (max-width: 767px) {
  .certificate-page__item {
    width: 100%;
    height: 210px;
    padding: 24px;
    gap: 8px;
  }
  .certificate-page__author {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
  }
}
.certificate-page__button {
  width: 100%;
  height: 88px;
  background: #30303012;
  border-radius: 44px;
  margin-top: 16px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  color: #303030;
}
@media (max-width: 1280px) {
  .certificate-page__button {
    height: 64px;
  }
}
