.contacts {
  width: 100%;
}
.contacts__wrapper {
  padding-top: 28px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .contacts__wrapper {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .contacts__wrapper {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .contacts__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .contacts__top {
    max-width: 900px;
  }
}
@media (max-width: 1023px) {
  .contacts__top {
    max-width: 540px;
  }
}
@media (max-width: 767px) {
  .contacts__top {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 340px;
  }
}
/*---------------------------------------------------map--------------------------------------------------------*/
.map {
  width: 100%;
}
.map__wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .map__wrapper {
    gap: 48px;
  }
  .map__wrapper {
    padding-bottom: 44px;
  }
}
@media (max-width: 1023px) {
  .map__wrapper {
    gap: 40px;
  }
  .map__wrapper {
    padding-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .map__wrapper {
    gap: 32px;
  }
  .map__wrapper {
    padding-bottom: 28px;
  }
}
.map__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.map__button {
  width: 536px;
  height: 88px;
  background: #30303012;
  box-shadow: 0px 0px 20px 0px #0000001a inset;
  border-radius: 44px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1280px) {
  .map__button {
    width: 476px;
    height: 64px;
    font-size: 18px;
    line-height: 28.8px;
  }
}
@media (max-width: 767px) {
  .map__button {
    width: 50%;
  }
  .map__buttons {
    padding-left: 8px;
    padding-right: 8px;
  }
}
#map {
  height: 537px;
  box-shadow: 0px 0px 40px 0px #00000014;
  border-radius: 32px;
  filter: grayscale(100%);
}
@media (max-width: 1023px) {
  #map {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media (max-width: 767px) {
  #map {
    height: 371px;
    border-radius: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media (max-width: 1023px) {
  .map__list {
    margin-left: 24px;
  }
}
@media (max-width: 767px) {
  .map__list li span {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 28.8px;
  }
  .map__list {
    margin-left: 8px;
    gap: 10px;
  }
}
