.protection-title {
  display: block;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.12px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  margin-top: 64px;
  color: #303030;
}
@media (max-width: 1023px) {
  .protection-title {
    margin-top: 56px;
  }
}
@media (max-width: 767px) {
  .protection-title {
    font-size: 20px;
    line-height: 27.6px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 35px;
  }
}
/*-----------------------------------footer----------------------------------------------*/
.footer__wrapper_data {
  padding-top: 70px;
}
@media (max-width: 1280px) {
  .footer__wrapper_data {
    padding-top: 64px;
  }
}
@media (max-width: 1023px) {
  .footer__wrapper_data {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .footer__wrapper_data {
    padding-top: 32px;
  }
}
/*----------------------------------------------data-protection---------------------------------------------*/
.data-protection {
  width: 100%;
}
.data-protection__wrapper {
  padding-top: 24px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .data-protection__wrapper {
    padding-top: 24px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .data-protection__wrapper {
    padding-top: 24px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .data-protection__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.data-protection__top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.data-protection__top h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 59.92px;
}
.data-protection__top p {
  max-width: 992px;
  width: 100%;
  font-size: 18px;
  line-height: 28.8px;
}
@media (max-width: 1280px) {
  .data-protection__top p {
    max-width: 900px;
    font-size: 18px;
    line-height: 28.8px;
  }
}
@media (max-width: 767px) {
  .data-protection__top h1 {
    font-size: 34px;
    line-height: 36.38px;
  }
  .data-protection__top {
    padding-left: 24px;
    padding-right: 24px;
    gap: 17px;
  }
}
/*-----------------------------------------------data-page-------------------------------------------------*/
.data-page {
  width: 100%;
}
.data-page__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 52px;
}
@media (max-width: 1280px) {
  .data-page__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 48px;
  }
}
@media (max-width: 1023px) {
  .data-page__wrapper {
    padding-top: 40px;
    padding-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .data-page__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 48px;
  }
}
.data-page__item {
  max-width: 897px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  box-sizing: border-box;
  gap: 32px;
}
@media (max-width: 768px) {
  .data-page__item {
    max-width: 568px;
  }
}
@media (max-width: 767px) {
  .data-page__item {
    padding-left: 24px;
  }
}
@media (max-width: 375px) {
  .data-page__item {
    max-width: 338px;
  }
}
.data-page__title {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34.8px;
  color: #303030;
}
.data-page__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 767px) {
  .data-page__list {
    gap: 24px;
  }
}
.data-page__list li {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #303030;
}
.data-page__list_disc li:not(:first-child) {
  list-style-type: disc;
  margin-left: 28px;
}
.data-page__list_disc {
  gap: 10px;
}
.data-page__list_disc li:first-child {
  margin-bottom: 10px;
}
