/*-------------------------------comprehensive----------------------------------------------------*/
.comprehensive {
  width: 100%;
}
.comprehensive__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .comprehensive__wrapper {
    padding-top: 64px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .comprehensive__wrapper {
    padding-top: 56px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .comprehensive__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.comprehensive__top {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .comprehensive__top {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .comprehensive__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    gap: 8px;
  }
}
.comprehensive__top span {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 52.2px;
  color: #303030;
}
.comprehensive__top span:nth-child(2) {
  display: flex;
}
.comprehensive__top span:nth-child(3) {
  display: none;
}
@media (max-width: 1280px) {
  .comprehensive__top span {
    font-size: 24px;
    line-height: 34.8px;
  }
}
@media (max-width: 1023px) {
  .comprehensive__top span {
    font-family: "Roboto Flex", sans-serif;
    font-size: 18px;
    line-height: 28.8px;
  }
  .comprehensive__top span:nth-child(2) {
    display: none;
  }
  .comprehensive__top span:nth-child(3) {
    display: flex;
  }
}
