@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: clamp(34px, 5vw, 72px);
  line-height: 77.04px;
  color: #303030;
}
h2 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: clamp(28px, 5vw, 56px);
  line-height: 71.68px;
  color: #303030;
}
h3 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: clamp(28px, 5vw, 32px);
  line-height: 44.16px;
  color: #303030;
}
h4 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: clamp(20px, 5vw, 32px);
  line-height: 52.2px;
  color: #303030;
}
h5 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 5vw, 22px);
  line-height: 36.3px;
}
button {
  border: none;
  cursor: pointer;
}
/*-----link-----*/
.p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #303030;
}
.container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
.page {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background: #faf9f8;
}
/*-----header-----*/
.header {
  width: 100%;
}
.header__wrapper {
  display: flex;
  padding-top: 66px;
  box-sizing: border-box;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}
.header__link {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #303030;
}
.header__link_blue {
  color: #4584ce;
}
