@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #faf9f8;
  position: relative;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 77.04px;
  color: #303030;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 56px;
    line-height: 59.92px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 34px;
    line-height: 36.38px;
  }
}
h2 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 71.68px;
  color: #303030;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 40px;
    line-height: 51.2px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
}
h3 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44.16px;
  color: #303030;
}
@media (max-width: 1280px) {
  h3 {
    font-size: 24px;
    line-height: 33.12px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 27.6px;
  }
}
h4 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 52.2px;
  color: #303030;
}
h5 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1280px) {
  h5 {
    font-size: 18px;
    line-height: 28.8px;
  }
}
button {
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
button:hover {
  filter: brightness(80%);
}
/*-----link-----*/
p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  color: #303030;
}
@media (max-width: 1280px) {
  p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 15px;
    line-height: 24px;
  }
}
/*---video---*/
.video-frame {
  position: relative;
  width: 824px;
  height: 468px;
  border-radius: 44px;
  margin-top: 63px;
}
@media (max-width: 1279px) and (min-width: 1024px) {
  .video-frame {
    width: 768px;
  }
}
.video-frame_it {
  width: 979px;
  height: 550px;
  margin-top: 31px;
}
.video-text {
  max-width: 350px;
  position: absolute;
  top: 56px;
  left: 64px;
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44.16px;
  color: #ffffff;
  z-index: 10;
}
.video-text_it {
  font-size: 42px;
  line-height: 57.96px;
  top: 82px;
  left: 66px;
}
.video-img {
  position: absolute;
  left: 76px;
  bottom: 62px;
  width: 36px;
  height: 44px;
  z-index: 10;
  cursor: pointer;
}
.video-img-about {
  left: 44px;
  bottom: 40px;
}
.video-img_it {
  width: 44px;
  height: 53.78px;
  left: 67px;
  bottom: 69px;
}

.video-img_it-main {
  left: 67px;
}
@media (max-width: 1280px) {
  .video-frame_it {
    display: none;
  }
  .video-frame {
    margin-top: 48px;
  }
  .video-text {
    width: 262px;
    font-size: 24px;
    line-height: 33.12px;
  }
  .video-text_it {
    font-size: 32px;
    line-height: 44.16px;
    top: 56px;
    left: 64px;
  }
  .video-text_it-two {
    font-size: 32px;
    line-height: 44.16px;
  }
}
@media (max-width: 1023px) {
  .video-text br {
    display: none;
  }
  .video-frame {
    width: 704px;
    height: 400px;
    border-radius: 32px;
    margin-top: 40px;
  }
  .video-text {
    width: 240px;
    top: 40px;
    left: 40px;
  }
  .video-text_it {
    font-size: 24px;
    line-height: 33.12px;
    top: 42px;
    left: 40px;
  }
  .video-text_it-two {
    font-size: 24px;
    line-height: 33.12px;
  }
  .video-img {
    left: 44px;
    bottom: 38px;
  }
}
@media (max-width: 767px) {
  .video-frame {
    width: 359px;
    height: 204px;
    margin-top: 32px;
  }
  .video-text {
    width: 150px;
    top: 31px;
    left: 26px;
    font-size: 14px;
    line-height: 19.32px;
  }
  .video-img {
    left: 28px;
    bottom: 26px;
    width: 21px;
    height: 21px;
  }
}
.video-player,
.video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 44px;
}
.video-preview {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 44px;
}
.video-frame_it .video-preview {
  border-radius: 0;
}
@media (max-width: 1023px) {
  .video-player {
    border-radius: 32px;
  }
}
.video-frame-about {
  width: 462px;
  height: 528px;
  margin-top: 0;
}
@media (max-width: 1280px) {
  .video-frame-about {
    width: 324px;
    height: 431px;
  }
}
@media (max-width: 767px) {
  .video-frame-about {
    width: 359px;
    height: 285px;
  }
}
.video-preview-about {
  background-image: url(../images/preview-about.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1023px) {
  .video-preview-about {
    border-radius: 44px;
  }
  .video-player-about {
    border-radius: 44px;
  }
}
@media (max-width: 767px) {
  .video-player-about {
    border-radius: 32px;
  }
}
@media (max-width: 1390px) {
  .video-preview-about {
    background-image: url(../images/Media-tt.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .video-preview-about {
    background-image: url(../images/preview-about-t.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .video-preview-about {
    background-image: url(../images/preview-about-m.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/*---container---*/
.container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    padding-left: 128px;
    padding-right: 128px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.main-link {
  width: 100%;
  padding: 29px 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .main-link {
    padding: 17px 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .main-link {
    padding: 20px 32px;
    box-sizing: border-box;
  }
  .main-link_difference {
    padding: 20px 24px;
  }
  .main-link_about {
    padding: 20px 24px;
  }
}
.main-link a {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #4584ce;
}
@media (max-width: 767px) {
  .main-link a {
    font-size: 15px;
    line-height: 24px;
  }
}
/*---page---*/
.page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  border-radius: 0 0 32px 32px;
}
@media (max-width: 767px) {
  .page {
    padding-bottom: 96px;
  }
}
/*-----crumbs-----*/
.crumbs {
  width: 100%;
  margin-top: 58px;
}
@media (max-width: 1280px) {
  .crumbs {
    margin-top: 64px;
  }
}
@media (max-width: 1023px) {
  .crumbs {
    margin-top: 56px;
  }
}
@media (max-width: 767px) {
  .crumbs {
    margin-top: 34px;
  }
}
.crumbs ul {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .crumbs ul {
    margin-left: 24px;
    gap: 8px;
  }
}
.crumbs ul li p {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44.16px;
  color: #303030;
}
@media (max-width: 1280px) {
  .crumbs ul li p {
    font-size: 24px;
    line-height: 33.12px;
  }
}
@media (max-width: 767px) {
  .crumbs ul li p {
    font-size: 20px;
    line-height: 27.6px;
  }
}
.crumbs span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  color: #303030;
}
@media (max-width: 1280px) {
  .crumbs span {
    font-size: 18px;
    line-height: 28.8px;
  }
}
@media (max-width: 767px) {
  .crumbs span {
    font-size: 15px;
    line-height: 24px;
  }
  .crumbs li img {
    height: 10px;
  }
}
.crumbs li {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .crumbs li {
    gap: 8px;
  }
}
/*--------------------------------------------------------menu-container-----------------------------------------*/

/* @media (max-width: 767px) { */
.menu-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  right: 16px;
  bottom: 16px;
  width: fit-content;
  display: flex;
  padding-left: 8px;
  padding-bottom: 0;
  box-sizing: border-box;
  gap: 16px;
  border-radius: 32px;
  z-index: 555;
  box-shadow: 0px 0px 40px 0px #00000008;
}
.button-up {
  display: none;
  position: fixed;
  right: 16px;
  bottom: 120px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #303030;
  z-index: 5;
}
@media (max-width: 767px) {
  .button-up {
    width: 64px;
    height: 64px;
    bottom: 105px;
    right: 8px;
    z-index: 5;
  }
}
.button-up__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-container__button,
.menu-container__button-form {
  position: relative;
  width: 134px;
  height: 88px;
  border-radius: 44px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .menu-container__button {
    position: relative;
    width: 134px;
    height: 88px;
    border-radius: 44px;
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .menu-container__button:first-child {
    gap: 0;
  }
  .menu-container__button:first-child.active {
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .menu-container__button-form {
    display: none;
  }
}
.form-mobile {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #ffffff;
}
.menu-container__button_desc {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.menu-container__button_desc.active {
  width: 256px;
  height: 440px;
  border-radius: 44px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.menu-container__burger {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.menu-container__burger.active {
  display: none;
}
.menu-container__list {
  position: relative;
  width: 100%;
  display: none;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.menu-container__button_desc.active .menu-container__list {
  display: flex;
}
.menu-container__list li:not(:last-child) {
  padding-left: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 56px;
}
.menu-container__link {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  color: #ffffff;
}
.menu-container__social {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  padding-left: 32px;
  padding-left: 32px;
  box-sizing: border-box;
  margin-top: 32px;
}
.menu-container__close {
  position: absolute;
  right: 32px;
  width: 24px;
  height: 24px;
  background: #303030;
}
.up-button {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #303030;
}
/*---------------------------------------------------мобильное меню-------------------------------------------------------*/
.menu-container__mobile-wrapper {
  display: none;
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 359px;
  height: 536px;
  background: #303030;
  box-shadow: 0px 0px 32px 0px #00000052;
  border-radius: 32px;
  padding: 16px 0 8px 0;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .menu-container__mobile-wrapper.active {
    display: flex;
  }
}
.menu-container__mobile-list {
  width: 100%;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.menu-container__mobile-list li {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #ffffff;
}
.menu-container__mobile-list li a {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: #ffffff;
}
.menu-container__mobile-social {
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu-container__close-mobile {
  display: none;
  width: 16px;
  height: 16px;
}
.menu-container__close-mobile.active {
  display: block;
}
/*----------------------------------------------мобильная форма--------------------------------------------------*/
.menu-form {
  display: none;
}
.menu-container__close-form {
  display: none;
}
@media (max-width: 767px) {
  .menu-form {
    z-index: 99;
    display: none;
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 752px;
    /* height: calc(100dvh - 112px); */
    border-radius: 40px;
    box-shadow: 0px 0px 32px 0px #00000052;
    background: #ffffff;
    padding: 16px 16px 32px 16px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 32px;
  }
  .menu-form.active {
    display: flex;
    bottom: 112px;
  }

  .menu-container__close-form {
    display: none;
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .menu-container__close-form.active {
    display: block;
  }
  .menu-form__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .menu-form__container {
    position: relative;
    width: 100%;
    height: 64px;
    background: #f0efed;
    border-radius: 44px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
    box-sizing: border-box;
  }
  .menu-form__icon {
    width: 16px;
    height: 16px;
  }
  .menu-form__label {
    left: 48px;
  }
  .menu-form__textarea {
    position: relative;
    max-width: 343px;
    width: 100%;
    height: 256px;
    max-height: 100%;
    display: flex;
    align-items: baseline;
    background: #f0efed;
    border-radius: 32px;
    gap: 8px;
    padding: 17px 24px;
    box-sizing: border-box;
  }
  .menu-form__textarea textarea {
    height: 160px;
  }
  .menu-form__textarea-label {
    width: 250px;
    left: 24px;
    top: 21px;
    font-size: 18px;
    line-height: 28.8px;
    text-align: start;
  }
  .menu-form__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .menu-form__button {
    width: 100%;
    height: 64px;
    background: #303030;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: #ffffff;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
  }
  .menu-form__button.menu-form__button_hidden {
    display: none;
  }
  .menu-form__button_green {
    display: none;
    background: #78ce5a;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .menu-form__button_green.menu-form__button_open {
    display: flex;
  }
  .menu-form__button img {
    width: 16px;
    height: 16px;
  }
  .menu-form__text {
    max-width: 295px;
    width: 100%;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #303030;
  }
  .menu-form__text a {
    color: #4584ce;
  }
}
/*----------------------------------------------------------------header----------------------------------------------------------*/
.header {
  width: 100%;
}
.header__wrapper {
  display: flex;
  padding-top: 66px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .header__wrapper {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .header__wrapper {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .header__wrapper_services {
    padding-top: 33px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .header__list {
    gap: 8px;
    margin-left: 24px;
  }
}
.header__link {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #303030;
}
.header__link_blue {
  color: #4584ce;
}
@media (max-width: 1280px) {
  .header__link {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  .header__link {
    font-size: 15px;
    line-height: 24px;
  }
}
.menu-container__button_mobile {
  display: none;
}
@media (max-width: 767px) {
  .menu-container__button_mobile {
    display: flex;
  }
  .menu-container_mobile {
    padding: 8px;
    box-sizing: border-box;
    left: 0;
    width: fit-content;
    background: #ffffff;
    gap: 8px;
    margin: 0 auto;
  }
  .menu-container__button {
    width: 175.5px;
    height: 64px;
    border-radius: 32px;
  }
  .menu-container__button_desc {
    display: none;
  }
  .menu-container__burger-mobile {
    width: 16px;
    height: 16px;
  }
  .menu-container__burger-mobile.active {
    display: none;
  }
}
/*---------------------------------------------------------hero-----------------------------------------------------------*/
.hero {
  width: 100%;
}
.wrapper {
  padding-top: 27px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .wrapper {
    padding-top: 32px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-top: 24px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.hero__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  max-width: 850px;
  width: 100%;
}
@media (max-width: 1280px) {
  .hero__top {
    max-width: 930px;
  }
}
@media (max-width: 1023px) {
  .hero__top {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .hero__top {
    max-width: 350px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.hero__items {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .hero__items {
    margin-top: 48px;
  }
}
@media (max-width: 1023px) {
  .hero__items {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .hero__items {
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
  }
}
.hero__item {
  max-width: 568px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 44px;
  background: #ffffff;
  box-shadow: 0px 0px 40px 0px #00000014;
  padding: 32px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.hero__item:hover {
  box-shadow: none;
}
.hero__item img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1280px) {
  .hero__item {
    gap: 16px;
    border-radius: 32px;
  }
}
@media (max-width: 767px) {
  .hero__item {
    padding: 24px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .hero__item img {
    width: 16px;
    height: 16px;
  }
}
/*----------------------------------------------footer----------------------------------------------*/
.footer {
  width: 100%;
}
.footer__wrapper {
  width: 100%;
  padding-top: 64px;
  padding-bottom: 128px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .footer__wrapper {
    padding: 61px 32px 80px 32px;
    box-sizing: border-box;
  }
  .footer__wrapper_one {
    padding-top: 46px;
  }
}
@media (max-width: 1023px) {
  .footer__wrapper {
    max-width: 446px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
  .footer__wrapper_one {
    max-width: 100%;
  }
  .footer__wrapper_two {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .footer__wrapper_about {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .footer__wrapper {
    max-width: 375px;
    padding: 32px 24px 76px 24px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 16px;
  }
  .footer__wrapper_one {
    padding-top: 32px;
  }
  .wrapper_services {
    padding-top: 0;
  }
}
.footer__protection-link {
  color: #4584ce;
  margin-left: auto;
  font-size: 18px;
  line-height: 29.7px;
}
@media (max-width: 1280px) {
  .footer__protection-link {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  .footer__protection-link {
    font-size: 15px;
    line-height: 24px;
  }
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__text {
  font-size: 18px;
  line-height: 29.7px;
}
.footer__protection {
  white-space: nowrap;
}
@media (max-width: 1280px) {
  .footer__text {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 1023px) {
  .footer__protection {
    position: relative;
    margin-left: -93px;
  }
}
@media (max-width: 767px) {
  .footer__protection {
    position: inherit;
    margin-left: 0;
  }
  .footer__text {
    font-size: 15px;
    line-height: 24px;
  }
  .footer__copyright a {
    font-size: 12px;
    line-height: 12px;
  }
}
.footer__link {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
}
@media (max-width: 1280px) {
  .footer__link {
    font-size: 12px;
    line-height: 12px;
  }
}
/*-------------------------------------------------help-companies-------------------------------------------------*/
.help-companies {
  width: 100%;
}
.help-companies__wrapper {
  padding-top: 65px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .help-companies__wrapper {
    padding-top: 49px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .help-companies__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .help-companies__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.help-companies__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .help-companies__top {
    max-width: 864px;
  }
}
@media (max-width: 767px) {
  .help-companies__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.help-companies__items {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .help-companies__items {
    margin-top: 40px;
  }
}
@media (max-width: 1023px) {
  .help-companies__items {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .help-companies__items {
    flex-direction: column;
    gap: 8px;
  }
}
.help-companies__item {
  max-width: 373.33px;
  width: 100%;
  border-radius: 44px;
  background: #f0efed;
  padding: 32px;
  box-sizing: border-box;
}
.help-companies__item h5 a {
  color: #4584ce;
}
@media (max-width: 1280px) {
  .help-companies__item {
    border-radius: 32px;
  }
}
@media (max-width: 767px) {
  .help-companies__item {
    padding: 25px 24px 24px 24px;
    box-sizing: border-box;
    max-width: 100%;
  }
}
/*------------------------------------------approach---------------------------------------------------------------------------*/
.approach {
  width: 100%;
}
.approach__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .approach__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .approach__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .approach__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.approach__top {
  max-width: 970px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .approach__top {
    max-width: 948px;
  }
}
@media (max-width: 1023px) {
  .approach__top {
    max-width: 640px;
  }
}
@media (max-width: 767px) {
  .approach__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.approach__items {
  display: flex;
  gap: 16px;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .approach__items {
    margin-top: 40px;
  }
}
@media (max-width: 1023px) {
  .approach__items {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .approach__items {
    flex-direction: column;
    gap: 8px;
  }
}
.approach__item {
  max-width: 568px;
  width: 100%;
  background: #f0efed;
  border-radius: 44px;
  padding: 48px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .approach__item {
    border-radius: 32px;
  }
}
@media (max-width: 767px) {
  .approach__item {
    padding: 24px;
    box-sizing: border-box;
    max-width: 100%;
  }
}
.approach__item_bottom {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
  gap: 29px;
}
@media (max-width: 1280px) {
  .approach__item_bottom {
    gap: 15px;
  }
}
@media (max-width: 767px) {
  .approach__item_bottom {
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 10px;
  }
}
.approach__item_bottom h3 {
  max-width: 912px;
  width: 100%;
}
@media (max-width: 1280px) {
  .approach__item_bottom h3 {
    max-width: 784px;
  }
}
@media (max-width: 1023px) {
  .approach__item_bottom h3 {
    max-width: 464px;
  }
}
@media (max-width: 767px) {
  .approach__item_bottom h3 {
    max-width: 305px;
    line-height: 28px;
  }
}
.approach__director {
  display: flex;
  align-items: center;
  gap: 16px;
}
.approach__director p {
  font-size: 18px;
  line-height: 29.7px;
}
@media (max-width: 1280px) {
  .approach__director p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  .approach__director p {
    font-size: 15px;
    line-height: 24px;
  }
}
.approach__director img {
  width: 120px;
  height: 120px;
}
@media (max-width: 1280px) {
  .approach__director img {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 767px) {
  .approach__director img {
    width: 72px;
    height: 72px;
  }
}
/*------------------------------------------------trust---------------------------------------------------------------*/
.trust {
  width: 100%;
}
@media (max-width: 767px) {
  .trust__container {
    padding: 0;
  }
}
.trust__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .trust__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .trust__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .trust__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.trust__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.trust__items {
  display: flex;
  gap: 16px;
  margin-top: 64px;
  margin-bottom: 16px;
}
@media (max-width: 1280px) {
  .trust__items {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .trust__items {
    flex-wrap: wrap;
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .trust__items {
    gap: 8px;
    margin-bottom: 8px;
  }
}
.trust__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 373.33px;
  width: 100%;
  border-radius: 44px;
  padding: 32px;
  box-sizing: border-box;
  background: #f0efed;
}
.trust__item p {
  font-size: 18px;
  line-height: 29.7px;
}
@media (max-width: 1280px) {
  .trust__item {
    gap: 8px;
    border-radius: 32px;
  }
  .trust__item p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 1023px) {
  .trust__item {
    max-width: 344px;
    padding-top: 34px;
  }
}
@media (max-width: 767px) {
  .trust__item {
    max-width: 100%;
    padding: 24px;
  }
  .trust__item p {
    font-size: 15px;
    line-height: 24px;
  }
}
/*--------------------------------------------------difference-------------------------------------------------------------------*/
.difference {
  width: 100%;
}
.difference__top {
  max-width: 800px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.difference__wrapper {
  padding-top: 66px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .difference__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .difference__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .difference__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 1280px) {
  .difference__top {
    max-width: 900px;
  }
}
@media (max-width: 767px) {
  .difference__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.difference__text {
  max-width: 906px;
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 64px;
}
@media (max-width: 1280px) {
  .difference__text {
    margin-top: 8px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1023px) {
  .difference__text {
    max-width: 608px;
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .difference__text {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.difference__button {
  width: 329px;
  height: 88px;
  border-radius: 44px;
  background: #303030;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  margin-left: 32px;
  transition: 0.3s ease-in-out;
}
.difference__button:hover {
  filter: brightness(80%);
}
.difference__button img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1280px) {
  .difference__button {
    width: 268px;
    height: 64px;
    font-size: 18px;
    line-height: 28.8px;
  }
  .difference__button img {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 767px) {
  .difference__button {
    margin-left: 8px;
  }
}
/*------------------------------------------------diff--------------------------------------------------------------*/
.difference__crumbs {
  margin-bottom: 32px;
}
@media (max-width: 1280px) {
  .difference__crumbs_about {
    margin-bottom: 17px;
  }
}
@media (max-width: 1023px) {
  .difference__crumbs {
    margin-bottom: 16px;
  }
  .difference__crumbs_about {
    margin-left: -8px;
  }
}
@media (max-width: 767px) {
  .difference__crumbs {
    margin-bottom: 6px;
  }
  .difference__crumbs_about {
    margin-left: 0;
  }
}
.crumbs-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 32px;
}
@media (max-width: 1280px) {
  .crumbs-list {
    gap: 14px;
  }
}
@media (max-width: 767px) {
  .crumbs-list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
    gap: 16px;
  }
}
.crumbs-list a h5 {
  color: #4584ce;
}
.crumbs-list li {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 1023px) {
  .crumbs-list li {
    gap: 14px;
  }
}
@media (max-width: 767px) {
  .crumbs-list li img {
    display: none;
  }
}
.crumbs-list span {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44.16px;
  color: #303030;
  letter-spacing: 0.03em;
}
@media (max-width: 1280px) {
  .crumbs-list span {
    font-size: 24px;
    line-height: 33.12px;
  }
  .crumbs__hidden {
    display: none !important;
  }
}
/*-----------------------------------------форма заявки десктоп-------------------------------------------------*/
.menu-container__button-form-mobile {
  display: none;
}
@media (max-width: 767px) {
  .menu-container__button-form-mobile {
    display: flex;
  }
}
@media (max-width: 767px) {
  .popup-overlay,
  .popup-overlay.active {
    display: none !important;
  }
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding-top: 32px;
  padding-bottom: 32px;
  box-sizing: border-box;
}
.popup-overlay.active {
  display: flex;
}
/* @media (max-width: 767px) {
  .popup-overlay {
    display: none !important;
  }
} */
.popup-overlay__wrapper {
  background-color: white;
  padding: 72px 32px 32px 32px;
  box-sizing: border-box;
  width: 650px;
  /* height: 90dvh; */
  position: relative;
  border-radius: 44px;
}
.popup-overlay__close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 32px;
  right: 32px;
}
.popup-overlay__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup-overlay__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1280px) {
  .popup-overlay__form {
  }
}
@media (max-width: 767px) {
  .popup-overlay__form {
    gap: 8px;
  }
}
.popup-overlay__container {
  position: relative;
  max-width: 880px;
  width: 100%;
  height: 88px;
  background: #f0efed;
  border-radius: 44px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .popup-overlay__container {
    height: 64px;
    padding: 17.5px 24px 17.5px 24px;
    box-sizing: border-box;
    gap: 8px;
  }
}
.popup-overlay__icon {
  width: 24px;
  height: 24px;
}
@media (max-width: 1280px) {
  .popup-overlay__icon {
    width: 16px;
    height: 16px;
  }
}
.popup-overlay__textarea {
  position: relative;
  max-width: 880px;
  width: 100%;
  height: 256px;
  display: flex;
  align-items: baseline;
  background: #f0efed;
  border-radius: 44px;
  gap: 16px;
  padding: 24px 32px 24px 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .popup-overlay__textarea {
    padding: 16px 32px 24px 32px;
    box-sizing: border-box;
  }
}
.popup-overlay__label {
  left: 30px;
}
@media (max-width: 1280px) {
  .popup-overlay__label {
    left: 24px;
  }
}
.popup-overlay__button {
  width: 208px;
  height: 88px;
  border-radius: 44px;
  background: #303030;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  padding-left: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .popup-overlay__button {
    width: 167px;
    height: 64px;
    font-size: 18px;
    line-height: 28.8px;
    padding-left: 24px;
    box-sizing: border-box;
  }
  .popup-overlay__button img {
    width: 16px;
  }
}
@media (max-width: 767px) {
  .popup-overlay__button {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 375px) {
  .popup-overlay__button {
    padding-left: 120px;
    box-sizing: border-box;
    justify-content: flex-start;
  }
}
.popup-overlay__text {
  max-width: 330px;
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #303030;
}
.popup-overlay__text a {
  color: #4584ce;
}
@media (max-width: 767px) {
  .popup-overlay__text {
    font-size: 15px;
    line-height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.popup-overlay__item {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 767px) {
  .popup-overlay__text {
    flex-direction: column;
    gap: 16px;
  }
}
