@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #faf9f8;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 77.04px;
  color: #303030;
}
@media (max-width: 1280px) {
  h1 {
    font-size: 56px;
    line-height: 59.92px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 34px;
    line-height: 36.38px;
  }
}
h2 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 71.68px;
  color: #303030;
}
@media (max-width: 1280px) {
  h2 {
    font-size: 40px;
    line-height: 51.2px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 35px;
  }
}
h3 {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #303030;
}
@media (max-width: 1280px) {
  h3 {
    font-size: 24px;
    line-height: 33.12px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 27.6px;
  }
}
h4 {
  font-family: "Bitter", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 52.2px;
  color: #303030;
}
h5 {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
@media (max-width: 1280px) {
  h5 {
    font-size: 18px;
    line-height: 28.8px;
  }
}
button {
  border: none;
  cursor: pointer;
}
/*-----link-----*/
p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #303030;
}
@media (max-width: 1280px) {
  p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 15px;
    line-height: 24px;
  }
}
.container {
  width: 100%;
  padding-left: 144px;
  padding-right: 144px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    padding-left: 128px;
    padding-right: 128px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
}
.link-bottom {
  height: 88px;
  display: flex;
  align-items: center;
  padding-left: 32px;
  margin-top: 16px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
}
.link-bottom a {
  color: #4584ce;
}
@media (max-width: 1280px) {
  .link-bottom {
    height: 64px;
  }
}
@media (max-width: 767px) {
  .link-bottom {
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
  }
}
.page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
/*-----header-----*/
.header {
  width: 100%;
}
.header__wrapper {
  display: flex;
  padding-top: 66px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .header__wrapper {
    padding-top: 70px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .header__wrapper {
    padding-top: 17px;
    padding-bottom: 17px;
    box-sizing: border-box;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .header__list {
    gap: 8px;
    margin-left: 24px;
  }
}
.header__link {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.7px;
  color: #303030;
}
.header__link_blue {
  color: #4584ce;
}
@media (max-width: 1280px) {
  .header__link {
    font-size: 16px;
    line-height: 25.6px;
  }
}
@media (max-width: 767px) {
  .header__link {
    font-size: 15px;
    line-height: 24px;
  }
}
/*-----------------------------------------------------main-thing---------------------------------------------*/
.main-thing {
  width: 100%;
}
.main-thing__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .main-thing__wrapper {
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .main-thing__wrapper {
    padding-top: 56px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .main-thing__wrapper {
    padding-top: 34px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.main-thing__top {
  max-width: 833px;
  width: 100%;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .main-thing__top {
    max-width: 927px;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .main-thing__top {
    max-width: 570px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-thing__top {
    padding: 0 24px 0 24px;
    box-sizing: border-box;
  }
}
.main-thing__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .main-thing__items {
    margin-top: 48px;
  }
}
@media (max-width: 1023px) {
  .main-thing__items {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .main-thing__items {
    flex-direction: column;
    margin-top: 32px;
    gap: 8px;
  }
}
.main-thing__item {
  width: 568px;
  height: 164px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  border-radius: 44px;
  background: #ffffff;
  box-shadow: 0px 0px 40px 0px #00000014;
  padding: 38px 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .main-thing__item {
    width: 504px;
    height: 137px;
    border-radius: 32px;
    padding: 32px 32px;
    box-sizing: border-box;
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .main-thing__item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    border-radius: 32px;
    padding: 26px 24px;
    box-sizing: border-box;
    gap: 16px;
  }
}
.main-thing__item:hover {
  box-shadow: none;
}
.main-thing__icon {
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .main-thing__icon {
    width: 16px;
    height: 16px;
  }
}
/*-----crumbs-----*/
.crumbs {
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .crumbs {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .crumbs {
    margin-left: 24px;
  }
}
/*-------------------------------------------------help-companies--------------------------------------------------------*/
.help-companies {
  width: 100%;
}
.help-companies__wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .help-companies__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    box-sizing: border-box;
    gap: 40px;
  }
}
@media (max-width: 1023px) {
  .help-companies__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .help-companies__wrapper {
    padding-top: 32px;
    padding-bottom: 40px;
    box-sizing: border-box;
    gap: 32px;
  }
}
.help-companies__top {
  max-width: 992px;
  width: 100%;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .help-companies__top {
    max-width: 864px;
  }
}
@media (max-width: 767px) {
  .help-companies__top {
    max-width: 100%;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
  }
}
.help-companies__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 1280px) {
  .help-companies__items {
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .help-companies__items {
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 8px;
  }
}
.help-companies__item {
  width: 373.33px;
  height: 172px;
  display: flex;
  border-radius: 44px;
  background: #f0efed;
  padding: 32px;
  box-sizing: border-box;
}
.help-companies__item span {
  color: #4584ce;
}
@media (max-width: 1280px) {
  .help-companies__item {
    width: 330.67px;
    height: 122px;
    border-radius: 32px;
  }
}
@media (max-width: 1023px) {
  .help-companies__item {
    width: 224px;
    height: 180px;
  }
}
@media (max-width: 767px) {
  .help-companies__item {
    width: 100%;
    height: 106px;
    padding: 24px;
    box-sizing: border-box;
  }
}
/*---------------------------------------------approach------------------------------------------------------------*/
.approach {
  width: 100%;
}
.approach__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .approach__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .approach__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .approach__wrapper {
    padding-top: 25px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.approach__top {
  max-width: 992px;
  width: 100%;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .approach__top {
    max-width: 925px;
  }
}
@media (max-width: 1023px) {
  .approach__top {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .approach__top {
    max-width: 311px;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
  }
}
.approach__inner {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .approach__inner {
    margin-top: 40px;
  }
}
@media (max-width: 1023px) {
  .approach__inner {
    margin-top: 32px;
  }
}
.approach__items {
  display: flex;
  gap: 16px;
}
@media (max-width: 767px) {
  .approach__items {
    flex-direction: column;
    gap: 8px;
  }
}
.approach__item {
  width: 568px;
  height: 240px;
  border-radius: 44px;
  background: #f0efed;
  padding: 48px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .approach__item {
    border-radius: 32px;
    width: 504px;
    height: 212px;
  }
  .approach__item_min {
    height: 183px;
  }
}
@media (max-width: 1279px) {
  .approach__item_min {
    height: 212px;
  }
  .approach__item {
    padding: 35px;
  }
}
@media (max-width: 1023px) {
  .approach__item {
    width: 344px;
    height: 270px;
    padding: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .approach__item {
    width: 100%;
    height: 193px;
    padding: 24px;
    box-sizing: border-box;
  }
  .approach__item_min {
    height: 164px;
  }
}
.approach__centr {
  display: flex;
  flex-direction: column;
  background: #f0efed;
  border-radius: 44px;
  padding: 48px;
  box-sizing: border-box;
  margin-top: 16px;
}
@media (max-width: 1280px) {
  .approach__centr {
    border-radius: 32px;
  }
}
@media (max-width: 767px) {
  .approach__centr {
    margin-top: 8px;
    padding: 24px;
    box-sizing: border-box;
  }
}
.approach__text {
  max-width: 912px;
  width: 100%;
}
.approach__text h3 {
  line-height: 44.16px;
}
@media (max-width: 1280px) {
  .approach__text {
    max-width: 784px;
  }
  .approach__text h3 {
    line-height: 33.12px;
  }
}
@media (max-width: 1023px) {
  .approach__text {
    max-width: 464px;
  }
}
@media (max-width: 767px) {
  .approach__text {
    max-width: 305px;
  }
  .approach__text h3 {
    font-size: 20px;
    line-height: 27.6px;
  }
}
.approach__centr-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
}
@media (max-width: 1280px) {
  .approach__centr-item {
    margin-top: 14px;
  }
}
@media (max-width: 767px) {
  .approach__centr-item {
    margin-top: 13px;
  }
}
.approach__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
@media (max-width: 1280px) {
  .approach__image {
    width: 96px;
    height: 96px;
  }
}
@media (max-width: 767px) {
  .approach__image {
    width: 72px;
    height: 72px;
  }
}

/*--------------------------------------------------trust-me------------------------------------------------------------*/
.trust-me {
  width: 100%;
}
.trust-me__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .trust-me__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .trust-me__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .trust-me__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .trust-me__container {
    padding: 0;
  }
}
.trust-me__top {
  max-width: 864px;
  width: 100%;
  padding: 0 32px 0 32px;
  box-sizing: border-box;
}

.trust-me__items {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .trust-me__items {
    margin-top: 40px;
  }
}
@media (max-width: 1023px) {
  .trust-me__items {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .trust-me__items {
    gap: 8px;
  }
}
.trust-me__item {
  width: 373.33px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  background: #f0efed;
  border-radius: 44px;
  padding: 38px 32px 32px 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .trust-me__item {
    width: 330.67px;
    border-radius: 32px;
    padding: 32px 32px 34px 32px;
    box-sizing: border-box;
    gap: 8px;
  }
}
@media (max-width: 1023px) {
  .trust-me__item {
    width: 344px;
    border-radius: 32px;
    padding: 32px 32px 34px 32px;
    box-sizing: border-box;
    gap: 8px;
  }
}
@media (max-width: 767px) {
  .trust-me__item {
    width: 100%;
    padding: 24px;
    box-sizing: border-box;
    gap: 8px;
  }
}
/*----------------------------------------difference-------------------------------------------------------*/
.difference {
  width: 100%;
}
.difference__wrapper {
  padding-top: 66px;
  padding-bottom: 64px;
  padding-left: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.difference__top {
  max-width: 864px;
  width: 100%;
}
.difference__description {
  max-width: 864px;
  width: 100%;
  margin-top: 16px;
}
.difference__button {
  width: 329px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 44px;
  background: #303030;
  margin-top: 64px;
}
.difference__button h5 {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.difference__button img {
  width: 24px;
  height: 24px;
}
