/*------------------------------------------outsourcing------------------------------*/
.outsourcing {
  width: 100%;
}
.outsourcing__wrapper {
  padding-top: 62px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .outsourcing__wrapper {
    padding-top: 64px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .outsourcing__wrapper {
    padding-top: 56px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .outsourcing__wrapper {
    padding-top: 35px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.outsourcing__top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  max-width: 790px;
  width: 100%;
}
@media (max-width: 1280px) {
  .outsourcing__top {
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .outsourcing__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    gap: 8px;
  }
}
@media (max-width: 640px) {
  .outsourcing__top {
    max-width: 340px;
  }
}
/*----------------------------------------------------department-------------------------------------------------------------*/
.department {
  width: 100%;
}
.department__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .department__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .department__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .department__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.department__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .department__top {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}
.department__items {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 1280px) {
  .department__items {
    margin-top: 40px;
  }
}
@media (max-width: 1023px) {
  .department__items {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .department__items {
    flex-direction: column;
    gap: 8px;
  }
}
.department__item {
  width: 373.33px;
  border-radius: 44px;
  background: #f0efed;
  padding: 32px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .department__item {
    width: 330.67px;
    border-radius: 32px;
  }
}
@media (max-width: 1023px) {
  .department__item {
    width: 224px;
  }
}
@media (max-width: 767px) {
  .department__item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .department__item p {
    font-size: 16px;
    line-height: 25.6px;
  }
}
