/*------------------------------------------outsourcing------------------------------*/
.outsourcing {
  width: 100%;
}
.outsourcing__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .outsourcing__wrapper {
    padding-top: 64px;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .outsourcing__wrapper {
    padding-top: 56px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .outsourcing__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
.outsourcing__top {
  display: flex;
  flex-direction: column;
  gap: 68px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
