.hero__top_services {
  max-width: 910px;
}
.hero__top_services br {
  display: none;
}
.services-block__wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .services-block__wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1023px) {
  .services-block__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .services-block__wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .hero__top_services {
    max-width: 335px;
  }
  .hero__top_services br {
    display: block;
  }
}
.hero__top-text {
  margin-top: 32px;
  padding-left: 32px;
  box-sizing: border-box;
  max-width: 1032px;
  width: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
}
.hero__top-text a {
  color: #4584ce;
}
@media (max-width: 1280px) {
  .hero__top-text {
    margin-top: 24px;
    font-size: 18px;
    line-height: 28.8px;
    max-width: 870px;
  }
}
@media (max-width: 767px) {
  .hero__top-text {
    margin-top: 16px;
    font-size: 18px;
    padding-left: 24px;
    box-sizing: border-box;
    max-width: 330px;
  }
}
/*------------------------------------------------------------services-block--------------------------------------------------------------*/
.services-block {
  width: 100%;
}
.services-block__top {
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}
.services-block__items {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 568px));
  gap: 14px 16px;
  margin-top: 64px;
}
@media (max-width: 1280px) {
  .services-block__items {
    margin-top: 40px;
    grid-template-columns: repeat(2, minmax(auto, 504px));
  }
}
.services-block__item {
  width: 100%;
  border-radius: 44px;
  background: #ffffff;
  box-shadow: 0px 0px 40px 0px #00000014;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  box-sizing: border-box;
}
.services-block__item:hover {
  box-shadow: none;
}
.services-block__item_one {
  gap: 0;
}
.services-block__item-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.services-block__item-top span {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 36.3px;
  color: #303030;
}
.services-block__item img {
  width: 24px;
  height: 24px;
}
@media (max-width: 1280px) {
  .services-block__item {
    border-radius: 32px;
    gap: 16px;
  }
  .services-block__item_two {
    gap: 50px;
  }
  .services-block__item_one {
    gap: 20px;
  }
  .services-block__item-top {
    gap: 8px;
  }
  .services-block__item-top span {
    font-size: 18px;
    line-height: 28.8px;
  }
}
/* @media (min-width: 769px) and (max-width: 1279px) {
  .services-block__items {
    gap: 30px;
  }
} */
@media (max-width: 768px) {
  .services-block__items {
    margin-top: 34px;
    grid-template-columns: repeat(2, minmax(auto, 344px));
    gap: 16px;
  }
}
@media (max-width: 767px) {
  .services-block__items {
    gap: 9px;
  }
}
@media (max-width: 768px) {
  .services-block__item_two {
    gap: 48px;
  }
  .services-block__item_one {
    gap: 0;
  }
  .services-block__item_one img {
    margin-top: -12px;
  }
}
@media (max-width: 767px) {
  .services-block__items {
    margin-top: 34px;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .services-block__item {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
  }
  .services-block__item img {
    width: 16px;
    height: 16px;
  }
  .services-block__container {
    padding: 0;
  }
}
/*-------------------------------------------protection--------------------------------------------------*/
.protection {
  width: 100%;
}
.protection__wrapper {
  padding-top: 60px;
  padding-bottom: 64px;
  box-sizing: border-box;
}
.protection__inner {
  display: flex;
  background: #f0efed;
  border-radius: 44px;
}
@media (max-width: 1280px) {
  .protection__wrapper {
    padding-top: 53px;
    box-sizing: border-box;
  }
}
@media (max-width: 1023px) {
  .protection__wrapper {
    padding-top: 43px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .protection__wrapper {
    padding-top: 32px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .protection__inner {
    flex-direction: column;
    gap: 0;
  }
}
.protection__image {
  width: 462px;
  height: 184px;
  border-radius: 44px;
  background-image: url(../images/protection.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1280px) {
  .protection__image {
    height: 214px;
    background-image: url(../images/protection-2.png);
  }
}
@media (max-width: 1023px) {
  .protection__image {
    width: 160px;
    background-image: url(../images/protection-3.png);
  }
}
@media (max-width: 767px) {
  .protection__image {
    width: 359px;
    height: 285px;
    background-image: url(../images/protection-4.png);
  }
}
.protection__text {
  max-width: 690px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 48px 32px 32px;
  box-sizing: border-box;
}
.protection__text p {
  font-size: 18px;
  line-height: 29.7px;
}
@media (max-width: 1280px) {
  .protection__text {
    max-width: 562px;
  }
  .protection__text h3 {
    font-size: 32px;
    line-height: 44.16px;
  }
  .protection__text p {
    font-size: 18px;
    line-height: 29.7px;
  }
}
@media (max-width: 1023px) {
  .protection__text {
    max-width: 544px;
  }
}
@media (max-width: 767px) {
  .protection__text h3 {
    font-size: 20px;
    line-height: 27.6px;
  }
  .protection__text p {
    font-size: 15px;
    line-height: 24px;
  }
  .protection__text {
    max-width: 317px;
    padding: 24px;
    gap: 8px;
  }
}
